{% extends 'base.html' %}

{% block title %} Post create {% endblock %}

{% block content %}
    <h2 class="title">Добавить статью</h2>
    <form action="" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        <div class="row">
            <div class="col s8">
                <div class="input-field">
                    {{ form.title }}
                </div>
                <div class="input-field">
                    {{ form.text }}
                </div>
            </div>

            <div class="col s4">
                <div class="input-field">
                    <button class="waves-effect waves-light btn redBtn" type="submit">Опубликовать</button>
                </div>

                <div class="row">
                    <div class="col s3 m9">
                        <div class="card">
                            <div class="card-content">
                                <p class="blueText">Загрузите изображение</p>
                                {{ form.image }}
                                <div>

                                    <button hidden style="border-radius: 50%" onclick="hideImage(event)"
                                            id="clearBtn">x
                                    </button>
                                    <img id="output" width="100"/>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </form>




    <script>
        var imageInput = document.getElementById('imageId');
        var output = document.getElementById('output');
        var clearBtn = document.getElementById('clearBtn');

        var loadFile = function (event) {
            console.log('File loaded');

            var reader = new FileReader();
            reader.onload = function () {
                // var output = document.getElementById('output');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
            output.hidden = false;

            imageInput.hidden = true;
            clearBtn.hidden = false;
        };

        var hideImage = function (event) {
            console.log('hide Image');

            clearBtn.hidden = true;
            output.hidden = true;
            imageInput.hidden = false;
        }
    </script>
{% endblock %}