{% extends 'base.html' %}

{% block title %} Post create {% endblock %}

{% block content %}
    <h2 class="title">Добавить статью</h2>
    <form action="" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        <div class="row">
            <div class="col s8">
                <div class="input-field">
                    {{ form.title }}
                </div>
                <div class="input-field">
                    {{ form.text }}
                </div>
            </div>

            <div class="col s4 rightFormBlock">
                <div class="input-field">
                    <button class="waves-effect waves-light btn redBtn" type="submit">Опубликовать</button>
                </div>

                <div class="row">
                    <div class="col s3 m9">
                        <div class="card">
                            <div class="card-content imgUpload">
                                <p class="blueText">Загрузите изображение</p>
                                {{ form.image }}
                                <label id="imgInputLabel" for="imageId">Выбрать</label>
                                <div id="imageContainer" hidden>
                                    <button class="clearBtn" onclick="hideImage(event)">x</button>
                                    <img id="output" width="150px"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </form>

    <script>
        var imageInput = document.getElementById('imageId');
        var imgInputLabel = document.getElementById('imgInputLabel');
        var output = document.getElementById('output');
        var imageContainer = document.getElementById('imageContainer');

        var loadFile = function (event) {
            var reader = new FileReader();

            reader.onload = function () {
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);

            imgInputLabel.style.display = 'none';
            imageContainer.hidden = false;
        };

        var hideImage = function (event) {
            output.setAttribute('src', '');
            imageInput.value = '';
            imgInputLabel.style.display = 'inline-block';
            imageContainer.hidden = true;
        }
    </script>
{% endblock %}