<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
          name="viewport">
    <title>{% block title %}{% endblock %}</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/libs/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
{% include 'navbar.html' %}

<div class="container">
    {% block content %}
    {% endblock %}
    {% include 'messages.html' %}
</div>

<script type="text/javascript" src="{% static 'js/libs/materialize.js' %}"></script>
</body>
</html>
